<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   description="PEI Attendance Tracking Interface" 
   name="PEI Attendance Tracking" 
   version="0.10.3" 
   xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
   <publisher name="PEI Dept of Education - Luke Walker">
      <contact email="lawalker@gov.pe.ca"/>
   </publisher>
   <access_request>
      <cdn_request>
         <cdn name="https://cdn.jsdelivr.net" />
      </cdn_request>
   </access_request>
</plugin>