<!DOCTYPE html>
<html>
<head>
    <meta name="Author" content="Luke Walker, PEI Dept of Education">
    <meta name="Version" content="0.2.5">
    <title>Attendance Tracking Checklist</title>
    <link rel="stylesheet" type="text/css" href="/admin/pei_reports/css/foundation-icons.css" />
    ~[wc:commonscripts]
	  <script src="/scripts/psQuery/psQuery.js"></script>
    <link href="/images/css/screen.css" rel="stylesheet" media="screen">
    <link href="/images/css/print.css" rel="stylesheet" media="print">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/shoelace.js"></script>
    <link href="/images/css/pei_att_track.css" rel="stylesheet">
    <script>
        loadingDialog();
    </script>
</head>

<body>

~[wc:admin_header_frame_css]<!-- breadcrumb start --><a href="/admin/home.html" target="_top">Start</a> &gt; <a href="home.html?selectstudent=nosearch" target="_top">Student Selection</a> &gt; Attendance Tracking Checklist<!-- breadcrumb end -->~[wc:admin_navigation_frame_css]

~[wc:title_student_begin_css]Attendance Tracking Checklist~[wc:title_student_end_css]

<!-- start of content and bounding box -->
<div data-require-path="peiAttTrack/peiAttTrack,components/widgets/dirtyInputHelper/index" data-module-name="attTrackMod"> 
    <div class="box-round" ng-controller="attTrackCtrl" ng-cloak>
        <form novalidate id="recordView" name="recordView" data-pss-validation-form data-dirty-state-check="true" class="validatedForm" >
          <input type="hidden" id="staffName" value="~[x:username;firstlast]" />
          <input type="hidden" id="studentsdcid" value="~(studentrn)" />
          <input type="hidden" id="dateToday" value="~[date]" />
          <input type="hidden" id="termid" value="~(curtermid)" />
        <div ng-if="validTerm()">

          <h2>Checklist for ~(termname) <span class="right boldtext">Grade level this term: {{gradeInYear}}</span></h2>
          <fieldset ng-if="gradeInYear > 9">
              <legend>Student Contact</legend>
              <table class="checklistTable">
                  <colgroup>
                      <col style="width:33%;" />
                      <col style="width:37%;" />
                      <col style="width:18%;" />
                      <col style="width:12%;" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <td class="grid-item stretchCell">
                          <button id="student_notification_btn" class="stretch" ng-click="actionResponse($event, 'student')" ng-show="!record.student_notification">Discussion of Concern</button>
                          <div id="student_notification_btn" class="successText stretch" ng-show="record.student_notification"><i class="fi-check"></i> Concern discussed</div>
                        <input type="hidden" id="student_notification" ng-model="record.student_notification" data-step="student_notification"/>
                      </td>
                      <td class="grid-item">
                        <label for="student_notification_staff">Contacted By</label> 
                        <input size="38" id="student_notification_staff" ng-model="record.student_notification_staff" data-step="student_notification" ng-disabled="!record.student_notification"/>
                      </td>
                      <td class="grid-item">
                        <label for="student_notification_date">Date</label> 
                        <input id="student_notification_date" ng-model="record.student_notification_date" type="text" pss-date-widget data-step="student_notification" ng-disabled="!record.student_notification"/>
                     </td>
                     <td class="grid-item center">
                        <div class="buttonContainer">
                          <i class="fi-checkbox green icon icon-big" id="student_notification_save" ng-if="student_notification_save=='unsaved' || student_notification_save=='saved' || !record.student_notification" ng-click="save($event, 'student_notification')" ng-disabled="!record.student_notification"></i>
                          <i id="clearRow" class="red icon fi-x icon-big"></i>
                        </div>
                        <div id="student_notification_save" ng-if="student_notification_save=='saving'" data-pss-wait-spinner></div>
                       
                     </td>
                   </tr>
                  </tbody>
               </table>
           </fieldset>
           
           <fieldset>
            <legend><span class="qcicon">Initial Concern and Guardian Contact&nbsp;</span> 
                   <a class='dialogM qcclear' title='Quick Contacts' href="/admin/alerts/contacts_alert.html?frn=~(studentfrn)" style="visibility: visible;">
                      <img src="/images/iconContacts1.png" height="20" width="24" border="2" class="qcicon">
                  </a></legend>
            <table class="checklistTable">
                <colgroup>
                  <col style="width:35%;" />
                  <col style="width:37%;" />
                  <col style="width:18%;" />
                  <col style="width:10%;" />
                </colgroup>
                <tbody>
                 <tr>
                    <td class="grid-item">
                      <span class="label">Call #1 &nbsp;</span>
                      <sl-radio-group label="" name="parent_call_1Btn" value="{{ record.parent_call_1 }}">
                        <sl-radio-button class="call-na" size="small" value="0" ng-click="radioActionResponse($event, 'parent_call_1', 0)" ng-disabled="!record.student_notification">Not attempted</sl-radio-button>
                        <sl-radio-button class="call-nc" size="small" value="1" ng-click="radioActionResponse($event, 'parent_call_1', 1)" ng-disabled="!record.student_notification">No Contact</sl-radio-button>
                         <sl-radio-button class="call-co" size="small" value="3" ng-click="radioActionResponse($event, 'parent_call_1', 3)" ng-disabled="!record.student_notification">Contact Made</sl-radio-button>
                      </sl-radio-group>
                      <input type="hidden" id="parent_call_1" name="parent_call_1" ng-model="record.parent_call_1" data-step="parent_call_1"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_1_staff">Contacted By</label> 
                      <input size="38" id="parent_call_1_staff" name="parent_call_1_staff" ng-model="record.parent_call_1_staff" data-step="parent_call_1" ng-disabled="!record.parent_call_1"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_1_date">Date</label> 
                      <input id="parent_call_1_date" name="parent_call_1_date" ng-model="record.parent_call_1_date" type="text" pss-date-widget data-step="parent_call_1" ng-disabled="!record.parent_call_1"/>
                   </td>
                   <td class="grid-item center">
                        <button id="parent_call_1_save" ng-if="parent_call_1_save=='unsaved'" ng-click="save($event, 'parent_call_1')" ng-disabled="!record.parent_call_1">
                            <i class="fi-checkbox icon" title="Save this row" ></i>
                        </button>
                        <div id="parent_call_1_save" ng-if="parent_call_1_save=='saving'" data-pss-wait-spinner></div>
                        <div id="parent_call_1_save" ng-if="parent_call_1_save=='saved'"><i class="fi-check green successText fade-in"> Saved</i></div>
                   </td>
                 </tr>
                 <tr class="alternateRow">
                    <td class="grid-item">
                      <span class="label">Call #2 &nbsp;</span>
                      <sl-radio-group label="" name="parent_call_1Btn" value="{{ record.parent_call_2 }}">
                        <sl-radio-button class="call-na" size="small" value="0" ng-click="radioActionResponse($event, 'parent_call_2', 0)" ng-disabled="!record.parent_call_1">Not attempted</sl-radio-button>
                        <sl-radio-button class="call-nc" size="small" value="1" ng-click="radioActionResponse($event, 'parent_call_2', 1)" ng-disabled="!record.parent_call_1">No Contact</sl-radio-button>
                         <sl-radio-button class="call-co" size="small" value="3" ng-click="radioActionResponse($event, 'parent_call_2', 3)" ng-disabled="!record.parent_call_1">Contact Made</sl-radio-button>
                      </sl-radio-group>
                      <input type="hidden" id="parent_call_2" name="parent_call_2" ng-model="record.parent_call_2" data-step="parent_call_2"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_2_staff">Contacted By</label> 
                      <input size="38" name="parent_call_2_staff" id="parent_call_2_staff" ng-model="record.parent_call_2_staff" data-step="parent_call_2" ng-disabled="!record.parent_call_2"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_2_date">Date</label> 
                      <input name="parent_call_2_date" id="parent_call_2_date" ng-model="record.parent_call_2_date" type="text" pss-date-widget data-step="parent_call_2" ng-disabled="!record.parent_call_2"/>
                   </td>
                   <td class="grid-item center">
                      <button id="parent_call_2_save" ng-if="parent_call_2_save=='unsaved'" ng-click="save($event, 'parent_call_2')" ng-disabled="!record.parent_call_2">
                      <i class="fi-checkbox icon" title="Save this row" ></i>
                      </button>
                      <div id="parent_call_2_save" ng-if="parent_call_2_save=='saving'" data-pss-wait-spinner></div>
                      <div id="parent_call_2_save" ng-if="parent_call_2_save=='saved'"><i class="fi-check successText green fade-in"> Saved</i></div>
                   </td>
                 </tr>
                 <tr>
                    <td class="grid-item">
                      <span class="label">Call #3 &nbsp;</span>
                      <sl-radio-group label="" name="parent_call_3Btn" value="{{ record.parent_call_3 }}">
                        <sl-radio-button class="call-na" size="small" value="0" ng-click="radioActionResponse($event, 'parent_call_3', 0)" ng-disabled="!record.parent_call_2">Not attempted</sl-radio-button>
                        <sl-radio-button class="call-nc" size="small" value="1" ng-click="radioActionResponse($event, 'parent_call_3', 1)" ng-disabled="!record.parent_call_2">No Contact</sl-radio-button>
                         <sl-radio-button class="call-co" size="small" value="3" ng-click="radioActionResponse($event, 'parent_call_3', 3)" ng-disabled="!record.parent_call_2">Contact Made</sl-radio-button>
                      </sl-radio-group>
                      <input type="hidden" id="parent_call_3" name="parent_call_3" ng-model="record.parent_call_3" data-step="parent_call_3"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_3_staff">Contacted By</label> 
                      <input size="38" id="parent_call_3_staff" name="parent_call_3_staff" ng-model="record.parent_call_3_staff" data-step="parent_call_3" ng-disabled="!record.parent_call_3"/>
                    </td>
                    <td class="grid-item">
                      <label for="parent_call_3_date">Date</label> 
                      <input name="parent_call_3_date" id="parent_call_3_date" ng-model="record.parent_call_3_date" type="text" pss-date-widget data-step="parent_call_3" ng-disabled="!record.parent_call_3"/>
                   </td>
                   <td class="grid-item center">
                      <button id="parent_call_3_save" ng-if="parent_call_3_save=='unsaved'" ng-click="save($event, 'parent_call_3')" ng-disabled="!record.parent_call_3">
                        <i class="fi-checkbox icon" title="Save this row" ></i>
                      </button>
                      <div id="parent_call_3_save" ng-if="parent_call_3_save=='saving'" data-pss-wait-spinner></div>
                      <div id="parent_call_3_save" ng-if="parent_call_3_save=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                   </td>
                 </tr>
                 <tr class="alternateRow">
                     <td colspan="3" class="grid-item">
                         <label for="call_notes" class="notes-label">Notes</label>
                         <textarea class="notes" id="parent_call_notes" name="parent_call_notes" data-step="parent_call_notes" ng-model="record.parent_call_notes" ng-disabled="!record.parent_call_1"  maxlength="4000"></textarea>
                     </td>
                     <td class="save-notes">
                      <button id="parent_call_notes_save" ng-if="parent_call_notes_save=='unsaved'" ng-click="save($event, 'parent_call_notes')" ng-disabled="!record.parent_call_notes">
                        <i class="fi-checkbox icon" title="Save this row" ></i>
                      </button>
                      <div id="parent_call_notes_save" ng-if="parent_call_notes_save=='saving'" data-pss-wait-spinner></div>
                      <div id="parent_call_notes_save" ng-if="parent_call_notes_save=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                     </td>
                 </tr>
                </tbody>
             </table>
           </fieldset>
           <fieldset>
             <legend>Continued Concern & Written Notification <a href='#' target="_blank"  id="interventions"><i class="fi-clipboard-notes plum icon-big"></i></a></legend>
             <table class="checklistTable">
                <colgroup>
                  <col style="width:35%;" />
                  <col style="width:37%;" />
                  <col style="width:18%;" />
                  <col style="width:10%;" />
                </colgroup>  
                <tbody>
                  <tr>
                    <td  colspan="4">
                      <h3 class="concern-head">Written Notification #1</h3>
                      <input type="hidden" id="concern_2" name="concern_2" ng-model="record.concern_2" data-step="concern_2" />
                    </td>
                  </tr>
                  <tr>
                      <td class="grid-item stretchCell">
                        <button id="concern_2_reqBtn" class="stretch" ng-show="record.concern_2<1" ng-click="writtenActionResponse($event, 'concern_2', 'req', 1)" ng-disabled="radioSum()">Flag Concern</button>
                        <div class="successText stretch" ng-show="record.concern_2>0"><i class="fi-check"></i> Concern flagged</div>
                      </td>
                      <td class="grid-item">
                        <label for="concern_2_req_staff">Contacted By</label> 
                        <input size="38" id="concern_2_req_staff" name="concern_2_req_staff" ng-model="record.concern_2_req_staff" data-step="concern_2" ng-disabled="record.concern_2 < 1"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_2_req_date">Date</label> 
                        <input id="concern_2_req_date" name="concern_2_req_date" ng-model="record.concern_2_req_date" type="text" pss-date-widget data-step="concern_2" ng-disabled="record.concern_2 < 1"/>
                     </td>
                     <td class="save-notes" rowspan="3">
                        <button id="concern_2_save" ng-if="concern_2_save=='unsaved'" ng-click="save($event, 'concern_2')" ng-disabled="record.concern_2 < 1">
                            <i class="fi-checkbox icon" title="Save this section"></i>
                        </button>
                        <div id="concern_2_save" ng-if="concern_2_save=='saving'" data-pss-wait-spinner></div>
                        <div id="concern_2_save" ng-if="concern_2_save=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                     </td>
                  </tr>
                  <tr>
                      <td class="grid-item stretchCell">
                        <button id="concern_2_sentBtn" class="stretch" ng-show="record.concern_2<2" ng-click="writtenActionResponse($event, 'concern_2', 'sent', 2)"  ng-disabled="record.concern_2 < 1">Notification Sent</button>
                        <div class="successText stretch" ng-show="record.concern_2 > 1"><i class="fi-check"></i> Notification sent</div>
                      </td>
                      <td class="grid-item">
                        <label for="concern_2_sent_staff">Contacted By</label> 
                        <input size="38" id="concern_2_sent_staff" name="concern_2_sent_staff" ng-model="record.concern_2_sent_staff" data-step="concern_2" ng-disabled="record.concern_2 < 2"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_2_sent_date">Date</label> 
                        <input id="concern_2_sent_date" name="concern_2_sent_date" ng-model="record.concern_2_sent_date" type="text" pss-date-widget data-step="concern_2" ng-disabled="record.concern_2 < 2"/>
                     </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="grid-item">
                         <label class="notes-label" for="concern_2_notes">Notes (required)</label>
                         <textarea class="notes" id="concern_2_notes" ng-model="record.concern_2_notes" data-step="concern_2" ng-disabled="record.concern_2 < 1" maxlength="4000"></textarea>
                     </td>
                  </tr>
                   <tr class="alternateRow">
                    <td  colspan="4">
                      <h3 class="concern-head">Written Notification #2</h3>
                      <input type="hidden" id="concern_3" name="concern_3" ng-show="record.concern_3==0" ng-model="record.concern_3" data-step="concern_3" />
                    </td>
                  </tr>
                  <tr class="alternateRow">
                      <td class="grid-item stretchCell">
                        <button id="concern_3_reqBtn" class="stretch" ng-show="record.concern_3==0" ng-click="writtenActionResponse($event, 'concern_3', 'req', 1)" ng-disabled="disableConcern('concern_2')">Flag Concern</button>
                        <div class="successText stretch" ng-show="record.concern_3>0"><i class="fi-check"></i> Concern flagged</div>
                      </td>
                      <td class="grid-item">
                        <label for="concern_3_req_staff">Contacted By</label> 
                        <input size="38" id="concern_3_req_staff" name="concern_3_req_staff" ng-model="record.concern_3_req_staff" data-step="concern_3" ng-disabled="record.concern_3 < 1"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_3_req_date">Date</label> 
                        <input id="concern_3_req_date" name="concern_3_req_date" ng-model="record.concern_3_req_date" type="text" pss-date-widget data-step="concern_3" ng-disabled="record.concern_3 < 1"/>
                     </td>
                     <td class="save-notes" rowspan="3">
                        <button id="concern_3_save" ng-if="concern_3_save=='unsaved'" ng-click="save($event, 'concern_3')" ng-disabled="record.concern_3 < 1">
                            <i class="fi-checkbox icon" title="Save this section"></i>
                        </button>
                        <div id="concern_3_save" ng-if="concern_3_save=='saving'" data-pss-wait-spinner></div>
                        <div id="concern_3_save" ng-if="concern_3_save=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                     </td>
                  </tr>
                  <tr class="alternateRow">
                      <td class="grid-item stretchCell">
                        <button id="concern_3_sentBtn" class="stretch" ng-click="writtenActionResponse($event, 'concern_3', 'sent', 2)" ng-show="record.concern_3 < 2" ng-disabled="record.concern_3 < 1">Notification Sent</button>
                        <div class="successText stretch" ng-show="record.concern_3 > 1"><i class="fi-check"></i> Notification sent</div>

                      </td>
                      <td class="grid-item">
                        <label for="concern_3_sent_staff">Contacted By</label> 
                        <input size="38" id="concern_3_sent_staff" name="concern_3_sent_staff" ng-model="record.concern_3_sent_staff" data-step="concern_3" ng-disabled="record.concern_3 < 2"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_3_sent_date">Date</label> 
                        <input id="concern_3_sent_date" name="concern_3_sent_date" ng-model="record.concern_3_sent_date" type="text" pss-date-widget data-step="concern_3" ng-disabled="record.concern_3 < 2"/>
                     </td>
                  </tr>
                  <tr class="alternateRow">
                    <td colspan="3" class="grid-item">
                         <label class="notes-label" for="concern_3_notes">Notes (required)</label>
                         <textarea class="notes" id="concern_3_notes" name="concern_3_notes" ng-model="record.concern_3_notes" data-step="concern_3" ng-disabled="record.concern_3 < 1" maxlength="4000"></textarea>
                     </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <h3 class="concern-head">Written Notification #3</h3>
                      <input type="hidden" id="concern_4" name="concern_4" ng-model="record.concern_4" data-step="concern_4" />
                    </td>
                  </tr>
                  <tr>
                      <td class="grid-item stretchCell">
                        <button id="concern_4_reqBtn" class="stretch" ng-show="record.concern_4==0" ng-click="writtenActionResponse($event, 'concern_4', 'req', 1)" ng-disabled="disableConcern('concern_3')">Flag Concern</button>
                        <div class="successText stretch" ng-show="record.concern_4 > 0"><i class="fi-check"></i> Concern flagged</div>
                      </td>
                      <td class="grid-item">
                        <label for="concern_4_req_staff">Contacted By</label> 
                        <input size="38" id="concern_4_req_staff" name="concern_4_req_staff" ng-model="record.concern_4_req_staff" data-step="concern_4" ng-disabled="record.concern_4 < 1"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_4_req_date">Date</label> 
                        <input id="concern_4_req_date" name="concern_4_req_date" ng-model="record.concern_4_req_date" type="text" pss-date-widget data-step="concern_4" ng-disabled="record.concern_4 < 1"/>
                     </td>
                     <td class="save-notes" rowspan="3">
                        <button id="concern_4_save" ng-if="concern_4_save=='unsaved'" ng-click="save($event, 'concern_4')" ng-disabled="record.concern_4 < 1">
                            <i class="fi-checkbox icon" title="Save this section"></i>
                        </button>
                        <div id="concern_4_save" ng-if="concern_4_save=='saving'" data-pss-wait-spinner></div>
                        <div id="concern_4_save" ng-if="concern_4_save=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                     </td>
                  </tr>
                  <tr>
                      <td class="grid-item stretchCell">
                        <button id="concern_4_sentBtn" class="stretch" ng-show="record.concern_4<2" ng-click="writtenActionResponse($event, 'concern_4', 'sent', 2)" ng-disabled="record.concern_4 < 1">Notification Sent</button>
                        <div class="successText stretch" ng-show="record.concern_4 > 1"><i class="fi-check"></i> Notification sent</div>
                      </td>
                      <td class="grid-item">
                        <label for="concern_4_sent_staff">Contacted By</label> 
                        <input size="38" id="concern_4_sent_staff" name="concern_4_sent_staff" ng-model="record.concern_4_sent_staff" data-step="concern_4" ng-disabled="record.concern_4 < 2"/>
                      </td>
                      <td class="grid-item">
                        <label for="concern_4_sent_date">Date</label> 
                        <input id="concern_4_sent_date" name="concern_4_sent_date" ng-model="record.concern_4_sent_date" type="text" pss-date-widget data-step="concern_4" ng-disabled="record.concern_4 < 2"/>
                     </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="grid-item">
                         <label class="notes-label" for="concern_4_notes">Notes (required)</label>
                         <textarea class="notes" id="concern_4_notes" name="concern_4_notes" ng-model="record.concern_4_notes" data-step="concern_4" ng-disabled="record.concern_4 < 1" maxlength="4000"></textarea>
                     </td>
                  </tr>

                </tbody>
             </table>
           </fieldset>
            <fieldset>
             <legend>Referral</legend>
             <table class="checklistTable">
                <colgroup>
                  <col style="width:35%;" />
                  <col style="width:37%;" />
                  <col style="width:18%;" />
                  <col style="width:10%;" />
                </colgroup>  
                <tbody>
                  <tr>
                    <td class="grid-item stretchCell">
                      <button id="referral_btn" class="stretch" ng-show="record.referral==0" ng-click="actionResponse($event, 'referral')" ng-disabled="disableReferral()">Notification to Director</button>
                      <div class="successText stretch" ng-show="record.referral>0"><i class="fi-check"></i> Concern flagged</div>
                      <input type="hidden" id="referral" name="referral" ng-model="record.referral" data-step="referral" />
                    </td>
                    <td class="grid-item">
                      <label for="referral_staff">Contacted By</label> 
                      <input size="38" id="referral_staff" name="referral_staff" ng-model="record.referral_staff" data-step="referral" ng-disabled="record.referral==0"/>
                    </td>
                    <td class="grid-item">
                      <label for="referral_date">Date</label> 
                      <input id="referral_date" name="referral_date" ng-model="record.referral_date" type="text" pss-date-widget data-step="referral" ng-disabled="record.referral==0"/>
                    </td>
                    <td class="save-notes" rowspan="3">
                      <button id="referral_save" ng-if="referral_save=='unsaved'" ng-click="save($event, 'referral')" ng-disabled="record.referral < 1">
                            <i class="fi-checkbox icon" title="Save this section"></i>
                        </button>
                        <div id="referral_save" ng-if="referral_save=='saving'" data-pss-wait-spinner></div>
                        <div id="referral_save" ng-if="referral=='saved'"><i class="fi-check green fade-in"> Saved</i></div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="grid-item">
                      <label class="notes-label" for="referral_notes">Notes</label>
                      <textarea class="notes" id="referral_notes" name="referral_notes" ng-model="record.referral_notes" data-step="referral" ng-disabled="record.referral==0" maxlength="4000"></textarea>
                    </td>
                  </tr>
                </tbody>
             </table>
           </fieldset>
          </div>
          <div id="alertMsgs">
            <div class="feedback-alert" ng-if="gradeInYear > 9 && termid % 100 === 0"><p>Switch to 1st or 2nd semester using the term selector dropdown to view records for high school students.</p></div>
            <div class="feedback-alert" ng-if="gradeInYear < 10 && termid % 100 !== 0"><p>Switch to the full-year term using the term selector dropdown to view records for K-9 students.</p></div>
          </div>
        </form>
    </div>

<!-- end of content of bounding box -->
</div>
~[wc:admin_footer_frame_css]

</body>
</html><!-- end right frame -->