fieldset label, .label {
   width: auto;
   padding: 0 5px;
   vertical-align: middle;
}

.label {
   font-weight: bold;
   display: inline-block;
   margin: auto 5px;
   line-height: 20px;
}

.notes-label {
   display: block;
   margin-left: 9px;
}

.concern-head {
   padding-top: 10px;
}

fieldset input, textarea {
   border-width: 2px;
   border-style: inset;
   border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
   padding: 3px;
}

.grid-item {
   vertical-align: middle;
   height: 40px;
}

.tall-col {
   height: 160px;
}
.save-notes {
   vertical-align: middle;
   text-align: center;
}

.icon {
   font-size: 24px;
}

.icon-big {
   font-size: 24px;
   text-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.disabled {
   background-color: #BEBEBE;
}

sl-radio-group {
   display: inline-block;
}
sl-radio-button {
   display: inline-block;    
}

.call-co::part(button--checked), .call-nc::part(button--checked) {
   background-color: #0066a5;
}

.call-na::part(button--checked) {
   background-color: #5A5A5A;
}

sl-radio-button::part(base) {
   background-color: #ffffff;
}

.successText {
   text-align: center;
   line-height: 30px;   
   font-size: 14px;
}

.alternateRow {
   background-color: #e5e5e5;
}


.save-svg {
   margin: 5px;
   padding: 0px;
}

.notes {
   margin: 4px;
   box-sizing: border-box;
   width: 98%;
   height: 80px;
}

.stretchCell {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.stretch {
   padding-right: 10px;
   flex-grow: 5;
   height: 30px;
}

.center {
   text-align: center;
}

.green {
   color: #76B041;
}

.blue {
   color: #0066a5;
}

.red {
   color: #B84A62;
}

.purple {
   color: #A9014B;

}

.grey {
   color: #A9A9A9;
}

.right {
   float: right;
}

.boldtext {
   font-weight: 700;
   font-size: 14px;
}

input.ng-dirty.ng-invalid {
 color: red
}

.green:hover {
   color:  #51782c;
}

.red:hover {
   color: #823344;
}

.icon-big:disabled {
   text-shadow: none;
   color: #BEBEBE;
}

.nobg {
   background: none !important;
}

.nobg:hover {
   background: none;
}

input.ng-invalid, textarea.ng-invalid {
   border: 2px solid red;
}

.form-control > input {
   width: 18px;
   height: 18px;
   margin: 2px;
}

.form-control {
   display: grid;
   grid-template-columns: 1em auto;
   gap: 1em;
   line-height: 22px;
   align-items: center;
   margin-left: 10px;
}

.feedback-error {
   padding-top: 5px;
   padding-bottom: 5px;
}

.saved {
   font-size: 0.8em;
   color: #1E8449;
}

