fieldset label, .label {
  width: auto;
  padding: 0 5px;
  vertical-align: middle;
}

.label {
  font-weight: bold;
  display: inline-block;
}

.notes-label {
  display: block;
  margin-left: 9px;
}

.concern-head {
  padding-top: 10px;
}

fieldset input, textarea {
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  padding: 3px;
}

.grid-item {
  vertical-align: middle;
  height: 40px;
}

.tall-col {
  height: 160px;
}
.save-notes {
  vertical-align: middle;
  text-align: center;
}

.icon {
  font-size: 20px;
}

.icon-big {
  font-size: 24px;
  color: #A9014B;
  text-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.disabled {
  background-color: #BEBEBE;
}

sl-radio-group {
  display: inline-block;
}
sl-radio-button {
  display: inline-block;    
}

.call-co::part(button--checked), .call-nc::part(button--checked) {
  background-color: #0066a5;
}

.call-na::part(button--checked) {
  background-color: #5A5A5A;
}

sl-radio-button::part(base) {
  background-color: #ffffff;
}

.successText {
  color: #0066a5;
  text-align: center;
  line-height: 30px;    
}

.alternateRow {
  background-color: #e5e5e5;
}


.save-svg {
  margin: 5px;
  padding: 0px;
}

.notes {
  margin: 4px;
  box-sizing: border-box;
  width: 98%;
  height: 80px;
}

.stretchCell {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  align-items: center;
}

.stretch {
  flex-grow: 5;
  height: 30px;
}

.center {
  text-align: center;
}

.fade-in { 
  animation: fadeIn 5s; 
  
}

.green {
  color: green;
}

.icon-text {
  font-size: 14px;
}

.right {
  display: inline-block;
  float: right;
}

.boldtext {
  font-weight: 700;
  font-size: 14px;
}